<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content>

    <!--Colque o componente de seleção de passageiros nesse trecho -->
    <div class="selecao-idade">
      <app-seletor-passageiro [formControl]="formBuscarService.obterControle('adulto')" titulo="Adultos" subtitulo="(Acima de 12 anos)"/>
      <app-seletor-passageiro [formControl]="formBuscarService.obterControle('crianca')" titulo="Crianças" subtitulo="(Entre 2 e 11 anos)"/>
      <app-seletor-passageiro [formControl]="formBuscarService.obterControle('bebe')" titulo="Bebês" subtitulo="(Menor de 2 anos)"/>
    </div>
    <!--Colque o componente de seleção de passageiros nesse trecho -->

    <div class="selecao-categoria">
      <p><strong>Categoria</strong></p>
      <mat-chip-listbox aria-label="Seleção de passagens">
        <mat-chip-option value="Economica" [selected]="formBuscarService.formBusca.get('tipo')?.value === 'Econômica'"
          (selectionChange)="formBuscarService.alterarTipo($event, 'Econômica')">Econômica</mat-chip-option>
        <mat-chip-option value="Executiva" [selected]="formBuscarService.formBusca.get('tipo')?.value === 'Executiva'"
          (selectionChange)="formBuscarService.alterarTipo($event, 'Executiva')">Executiva</mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>
  <div mat-dialog-actions class="modal-actions">
    <button color="primary" mat-flat-button mat-dialog-close (click)="buscar()">BUSCAR</button>
  </div>
</section>